[defaults]
inventory = inventories/lab/hosts-runtime.yml
host_key_checking = False
stdout_callback = ansible.builtin.default
result_format = yaml
bin_ansible_callbacks = True
interpreter_python = auto_silent
timeout = 30

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o AddressFamily=inet
pipelining = True